  <div class="modal" role="dialog" hidden tabindex="-1" aria-labelledby="modal-developer-title" id="modal-developer">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <span class="visually-hidden">Fermer</span>
        </button>
        <h2 class="modal__title" id="modal-developer-title">Compétences full-stack</h2>
        <p>
          <strong>Back:</strong> Spring Boot, Rails, Laravel, Django, ElasticSearch, Solr, MySQL/MariaDB, PostgreSQL
        </p>
        <p>
          <strong>Front:</strong> React, Typescript, PostCSS, Sass
        </p>
        <p>
          <strong>Mobile:</strong> React Native
        </p>
      </div>
  </div>

  <div class="modal" role="dialog" hidden tabindex="-1" aria-labelledby="modal-designer-title" id="modal-designer">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <span class="visually-hidden">Fermer</span>
        </button>
        <h2 class="modal__title" id="modal-designer-title">Design</h2>
        <p>Identité visuelle, web design responsive, tests utilisateurs, prototypage</p>
      </div>
  </div>

  <div class="modal" role="dialog" hidden tabindex="-1" aria-labelledby="modal-contact-title" id="modal-contact">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <span class="visually-hidden">Fermer</span>
        </button>
        <h2 class="modal__title" id="modal-contact-title">Contact</h2>
        <p><strong>Mail</strong> <a href="mailto:hello@denishovart.com">hello@denishovart.com</a></p>
        <p><strong>Tél</strong> 06 08 85 77 35</p>
      </div>
  </div>
