<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css" media="all" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <main class="content">
        <nav class="languages">
          {% for lang in site.languages %}
            {% if page.namespace %}
              <a 
                href="{% tl {{ page.namespace }} {{ lang }} %}"
                {% if site.lang == lang %}class="active"{% endif %}>
                  {{ lang }}
              </a>
            {% else %}
              <a 
                href="{{ site.baseurl_root }}/{% if lang != 'fr' %}{{ lang }}{% endif %}"
                {% if site.lang == lang %}class="active"{% endif %}>
                  {{ lang }}
              </a>
            {% endif %}
          {% endfor %}
        </nav>
      {{ content }}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.10/lottie_light.min.js"></script>
    <script src="https://cdn.jsdelivr.net/ally.js/1.4.1/ally.min.js"></script>
    <script src="assets/main.js"></script>
</html>
